

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.home-slider{
    width: 100%;
    position: relative;
}

.home-slider video{
    position: relative;
    width: 100%;
    z-index: 1;
}


.home-slider .slider{
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding: 3em 0;
}

/* .header{
    width: 85%;
} */
/* .slider video{
    width: 100%;
    height: 100%;
    
} */
.slider h2{
    background-color: #2E2E2E;
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    color: #E34D00;
    font-size: 18px;
}



.slider h1{
    /* top: 40%; */
    padding-top: 30px;
    /* left: 10%; */
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-align: center;
    /* position: absolute; */
}
.slider span{
    color: #E34D00;
    left: 20px;
}

.slider button{
    /* position: absolute; */
    /* bottom: 150px; */
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: #E34D00;
    color: white;
    margin-top: 30px;
    /* left: 41%; */
    font-weight: 600;
}


 .scroll{
    width: 100px;
    height:100px;
    border: 2px solid #E34D00;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -50px;
 }

 .home-slider .slider h3{
    color: white;
    font-weight: bold;
    padding-top: 20px;
 }

 

.chatbot{
    padding-bottom: 30px;
    padding-top: 30px;
}


 .chatbot .clickbox1{
    color: white;
    padding-left: 10px;
    font-weight: 600;
    padding-bottom: 10px;
 }
 .chatbot .clickbox1 i{
    color: #E34D00;
    font-size: 40px;
    padding-left: 40px;
    cursor: pointer;
 }

.a-chatbot{
    padding-top: 2em;
}
 .a-chatbot .generator{
    padding: 25px;
    background-color: #1D1C1C;
    border-radius: 10px;
    padding-bottom: 20px;
 }

 .a-chatbot i{
    font-size: 30px;
    color: #E34D00;
    transform: rotate(-30deg);
    padding-top: 5px;
 }
 .generator2{
     /* width: 45%; */
     padding-top: 30px;
     padding-bottom: 10px;
     /* display: flex; */
     /* align-items: center; */
     /* justify-content: space-between; */
    }
    .generator2 h4{
        display: inline-block;
    }

 

 .generator3 i{
    transform: rotate(30deg);
 }

 .a-chatbot .generator2 h4{
    color: white;
 }


 .generator2 h4:hover{
    color: red;
}

 .a-chatbot .generator img{
    width: 100%;
    height: 100%;
    cursor: pointer;
 }

 .a-chatbot h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 60px;
    color: white;
    font-weight: bold;
 }

 .work{
    padding-top: 5em;
    padding-bottom: 2em;
 }
 .work h5{
    text-align: center;
    color: white;
    background-color: #2E2E2E;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom  : 10px;
    border-radius: 5px;
    /* padding-bottom: ; */
 }

 .work h1{
    text-align: center;
    padding-top: 30px;
    line-height: 8  0px;
    /* line-height: 10px; */
    color: white;
    font-weight: bold;
    font-size: 60px;
 }

 .work span{
    color: #E34D00;
 }
 .work p{
    text-align: center;
    padding-top: 15px;
    color: rgb(161, 159, 159);
    text-transform: lowercase;
    font-weight: 600;
 }
 .commerce{
    padding-top: 3em;
    padding-bottom: 30px;
 }

 .commerce .commerce1{
    max-height: 300px;
    background-color: #1D1C1C;
    border-radius: 10px;
    padding: 20px 0px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    transition: all .3s linear;
    cursor: pointer;

 }

.commerce .commerce1 img{
    width: 30%;
    height: 30%;
    padding-left: 20px;
    padding-top: 10px;
}
 .commerce .commerce1 h2{
    color: white;
    padding-top: 20px;
    font-size: 22px;
    padding-left: 20px;
 }
 .commerce .commerce1 p{
    color: white;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 14px;
    text-transform: lowercase;
 }


 

 
 

 

 @media (max-width:450px){
    .slider h2{
      font-size: 12px;
      top: 25%;
      left: 27%;
      color: white;
    }

    .slider h1{
        font-size: 20px;
        top: 32%;
        left: 20px;
    }
    .slider button{
        bottom: 48%;
        left: 29%;
        position: absolute;
    }

    .scroll{
        opacity: 0;
    }

    .arrow img{
        opacity: 0;
    }

    .slider h3{
        opacity: 0;
    }
}


.get-in-touch h1{
    text-align: center;
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 60px;
}
.get-in-touch span{
    color: #E34D00;
}
.get-in-touch p{
    text-align: center;
    color: #2E2E2E;
    padding-top: 15px;
}



.get-in-touch .help-you{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    /* margin-top: 30px;     */
}

.get-in-touch .help-you .accordion-item1{
    margin-top: 30px;
    background-color: #191919;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.get-in-touch .help-you .accordion-item1 p{
    color: white;
    padding-left: 10px;
}

.get-in-touch .help-you .accordion-item1 button{
    padding: 10px 30px;
        border: none;
        background-color: #E34D00;
        border-radius: 10px;
        font-weight: 600;
        color: white;
        transition: all .3s linear;
}
.get-in-touch .help-you .accordion-item1 button:hover{
    background-color: white;
    color: black;
}
.buddha{
    padding-bottom: 2em;
    background-color: #111010;
}


.buddha h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 40px;
}

.buddha h1 span{
    color: #E34D00;
}
.buddha p{
    text-align: center;
    color: #2E2E2E;
    padding-top: 10px;
    padding-bottom: 40px;
}
.buddha .buddha1 .buddha2{
    padding: 30px;
    background-color: white;
    text-align: center;
}
.buddha .buddha1 .buddha2 h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    padding-bottom: 20px;
}

.buddha .buddha1 .buddha2 img{
    width: 100%;
    height: 100%;
}
.buddha .buddha1 .buddha2 i{
    color: #E34D00;
    padding-top: 20px;
}
.buddha .buddha1 .buddha2 h4{
    font-size: 18px;
    color: #E34D00;
    padding-top: 20px;
}

.Problem .article video{
    width: 100%;
    height: 100%;
}

.Problem .article p{
    color: white;
    padding-top: 20px;
}
.Problem .article .Problem1{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}


.Problem .article .Problem1 button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    transition: all .3s linear;
}
.Problem .article .Problem1 button:hover{
    background-color: #E34D00;
    box-shadow: 0px 0px 20px #E34D00;
    color: white;
}


.animated-text {
    font-size: 60px;
    color: aliceblue;
    opacity: 0;
    font-weight: bold;
    animation: fadeIn 3s ease-in-out forwards, slideUp 3s ease-in-out forwards;
    padding-top: 40px;

}
.animated-text span{
    color: #E34D00;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

.fade-in-text {
    font-size: 2rem;
    color: white;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    font-weight: bold;
}
.fade-in-text span{
    color: #E34D00;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ai-max{
    background-color: #111010;
    margin-top: -10%;
}

.ai-max .ai-max1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.ai-max .reserved{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ai-max .reserved h5{
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
}

.ai-max .reserved .icon a i{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s linear;
}

.ai-max .reserved .icon a i:hover{
    background-color: #E34D00;
    box-shadow: 0px 0px 20px #E34D00;
    color: white;
}

.ai-max .ai-max1 button{
    border: none;
border-radius: 5px;
font-weight: 600;
background-color: white;
padding: 10px 30px;
    transition: all .3s linear;
}
.ai-max .ai-max1 button:hover{
    background-color: #E34D00;
    box-shadow: 0px 0px 20px #E34D00;
    color: white;
}

.slide-in-text {
    color: white;
    transform: translateX(-100%);
    animation: slideIn 2s ease-in-out forwards;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.home-slider1{
    width: 100%;
    position: absolute;
}

.home-slider1 .slider-content{
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    padding-top: 100px;
    height: 100%;
    opacity: .5;
}

.home-slider1 video{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.home-slider1 .slider-content .partner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}.home-slider1 .slider-content .partner h1{
    color: white;
    font-weight: bold ;
}
.home-slider1 .slider-content .partner .partner1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #F24D2B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-slider1 .slider-content .partner .partner1 .partner2{
    width: 50px;
    height: 50px;
    background-color:   rgba(124, 122, 122, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.home-slider1 .slider-content .partner h4{
    color: white;
}
.home-slider1 .slider-content .partner2 h3{
    font-size: 22px;
    color: white;
    padding-top: 10px;
    
}
.home-slider1 .slider-content .partner2 p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.utilise{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
}
.utilise .utilise1{
    width: 200px;
    height: 100px;
}
.utilise .utilise1 .circle1{
    display: inline-block;
}
.utilise .utilise1 .circle1 img{
    border-radius: 50%;
}


.utilise h1{
    color:white;
    text-align: center;
    font-weight: bold;
}

.utilise span{
    color: #E34D00;
}
.utilise .connectivity{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #F24D2B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utilise .connectivity .connectivity1{
    width: 50px;
    height: 50px;
    background-color:rgba(124, 122, 122, 0.5) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}












@media (max-width:576px){
    .slider h2{
        margin-top: -90px;
        margin-left: -70px;
    }
    .slider h1{
        font-size: 22px;
        margin-top: -90px;
    }
    .scroll{
        display: none;
    }

    .arrow img{
        opacity: 0;
    }
    .slider button {
     /* padding-top: 50px; */
     margin-top: 50px;
    }
}